<!DOCTYPE>
        <html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body{margin-top:60px;}
        .big{font-size: 50px;color:limegreen;}
    </style>
</head>
<body class="container">
<div class=" row big"><i class="icon-align-justify"></i></div>
<video width="320" height="240" controls>

    <source src="/static/assets/servelife.mp4" type="video/mp4">
    Your browser does not support the video tag with mp4 file support.
</video>
<script src="/static/lib/jquery/jquery-1.10.1.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
        </html>